  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #E8DED2;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    
    
    color: white;
    
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.zero{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 30px;
  
}
.one{
  width: 300px;
  height: 55vh;
  justify-content: center;
  border: 5px solid white;
  padding: 10px;
  background-color: #056676;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

button{
  font-size: 16pt;
  width: 200px;
  height: 40px;

  background-color: greenyellow;
  border-radius: 5px;
  font-weight: bold;
  
  
  
}
button:hover{
  cursor: pointer;
 background-color:  rgb(219, 243, 183);
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

img{
  width: 180px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
p{
  text-align: left;
}